@model IEnumerable<BANVEMAYBAY.Models.menu>
<div class="navigation bg-white" style="padding-bottom: 10px;">
    <div class="container ">
        <div class="navigation-content">
            <div class="header_menu">
                <!-- start Navbar (Header) -->
                <nav class="navbar navbar-default navbar-sticky-function navbar-arrow">
                    <div class="logo pull-left">
                        <img src="~/Public/images/flight/plane2.jpg" height="50" width="90"></a>
                    </div>
                    <div id="navbar" class="navbar-nav-wrapper">
                        <ul class="nav navbar-nav " id="responsive-menu">
                            <li>
                                <a href="/" style="color: #000000; ">Trang Chủ </a>

                            </li>
                            <li>
                                <a href="/tin-tuc/tin-khuyen-mai" style="color: #000000; ">Tin Tức - Khuyến Mãi </a>

                            </li>
                            <li>
                                <a href="/lien-he" style="color: #000000; ">Liên Hệ </a>

                            </li>
                            <li>
                                <a href="/tin-tuc/ve-noi-dia" style="color: #000000; ">Tin Tức - Vé Bay</a>

                            </li>
                            <li>
                                <a href="/all-chuyen-bay" style="color: #000000; ">Tất Cả Chuyến Đi </a>

                            </li>


                            <!--/.nav-collapse -->
                        </ul>

                    </div>

                    <div id="slicknav-mobile"></div>
                </nav>
            </div>
        </div>
    </div>
</div>