@model IEnumerable<BanVeMayBay.Models.order>

<section class="flight-destinations">
    <div class="container bg-white">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="flight-table">
                    <h2 style="text-align:center">List Booking Tickets</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tên hành khác</th>
                                <th>Ngày đặt vé</th>
                                <th>Xem chi tiết</th>
                                <th>Tồng tiền</th>

                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    <h6>@item.ID</h6>

                                </td>
                                <td>
                                    <p>@item.name</p>

                                </td>
                                <td>
                                    <p>@item.created_at.ToString("dd-MM-yyyy HH:mm tt")</p>
                                </td>
                                <td>
                                    <p><strong class="color-red-3"><a href="~/site/orderdetail/@item.ID">Chi tiết mua hàng</a></strong></p>

                                </td>
                                <td>
                                    <h6><strong class="color-red-3">@item.total.ToString("N0") $</strong></h6>

                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
